#tema{
    padding: 5%;
}

html, body{
    background-color: rgb(245, 204, 204);
    margin: 100;
    text-align: center;
    
}
#titulo{
    color:rgb(0, 174, 255);
    
}
#subtitulo{
    color: rgb(0, 174, 255);
}
#acao{
    color:rgb(81, 123, 240);
    border: 1px blue solid;
    padding: 10px 10px 10px 10px;

    
}